// base
$basecolor-black: #000000;
$basecolor-white: #ffffff;

// background
$backgroundcolor-home-1: #acacac;
$backgroundcolor-home-2: #E5E5E5;

$backgroundcolor-footer: $backgroundcolor-home-1;

$backgroundcolor-button-default: #989898;