:root {
  font-size: 62.5%; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; }

body {
  position: relative;
  font-size: 1.6rem;
  font-family: 'Fira Sans', 'sans serif'; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

#root {
  min-height: 100vh; }

.Button {
  width: 20rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #989898; }

.Home {
  height: auto;
  position: relative;
  top: 3rem; }

.NavigationBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  height: 3rem;
  z-index: 5;
  background-color: #beffe6;
  align-items: center; }
  .NavigationBar :first-child,
  .NavigationBar :last-child {
    margin: 0 2rem; }

@media only screen and (min-width: 768px) {
  .HomeHeader {
    height: 100vh; } }

@media only screen and (max-width: 767px) {
  .HomeHeader {
    height: auto; } }

@media only screen and (max-width: 767px) {
  .HomeHeader {
    background: url(https://s25.postimg.org/c7166bojj/grid-3227459-mirrored.jpg) no-repeat center; } }

@media only screen and (min-width: 768px) {
  .HomeHeader {
    background: url(https://s25.postimg.org/c7166bojj/grid-3227459-mirrored.jpg) no-repeat center;
    background-size: cover; } }

.HomeIntroduction {
  display: grid;
  display: -ms-grid; }
  @media only screen and (max-width: 767px) {
    .HomeIntroduction {
      grid-template-rows: 2fr 2fr 3fr;
      grid-template-areas: "header" "button" "image";
      height: auto;
      position: relative; } }
  @media only screen and (min-width: 768px) {
    .HomeIntroduction {
      height: 100vh;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 2fr 3fr;
      grid-row-gap: 6rem;
      grid-template-areas: "image header" "image button"; } }
  .HomeIntroduction img {
    height: 30rem;
    width: auto;
    filter: drop-shadow(0 0rem 2rem #bb815f); }
    @media only screen and (max-width: 767px) {
      .HomeIntroduction img {
        height: 20rem;
        width: auto; } }
  .HomeIntroduction h1 {
    font-size: 30pt; }

#HomeIntroduction-grid-item-1 {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box; }
  @media only screen and (max-width: 767px) {
    #HomeIntroduction-grid-item-1 {
      justify-content: center;
      text-align: center; } }

#HomeIntroduction-grid-item-2 {
  grid-area: image; }
  @media only screen and (min-width: 768px) {
    #HomeIntroduction-grid-item-2 {
      justify-self: end;
      align-self: center;
      padding-right: 10rem; } }
  @media only screen and (max-width: 767px) {
    #HomeIntroduction-grid-item-2 {
      width: 100%;
      justify-content: center;
      display: flex;
      justify-content: center;
      padding: 3rem 0; } }

#HomeIntroduction-grid-item-3 {
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    #HomeIntroduction-grid-item-3 {
      justify-content: center; } }

.HomeLevelSelection {
  display: grid;
  display: -ms-grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "level-1" "level-2" "level-3" "level-4"; }
  .HomeLevelSelection > div {
    justify-self: center; }
  @media only screen and (min-width: 768px) {
    .HomeLevelSelection {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "level-1 level-2" "level-3 level-4";
      height: 100%; } }
  @media only screen and (max-width: 767px) {
    .HomeLevelSelection {
      grid-row-gap: 0.3rem; } }

#HomeLevelSelection-grid-item-1 {
  grid-area: level-1; }
  @media only screen and (min-width: 768px) {
    #HomeLevelSelection-grid-item-1 {
      justify-self: end;
      align-self: end; } }

#HomeLevelSelection-grid-item-2 {
  grid-area: level-2; }
  @media only screen and (min-width: 768px) {
    #HomeLevelSelection-grid-item-2 {
      justify-self: start;
      align-self: end; } }

#HomeLevelSelection-grid-item-3 {
  grid-area: level-3; }
  @media only screen and (min-width: 768px) {
    #HomeLevelSelection-grid-item-3 {
      justify-self: end;
      align-self: start; } }

#HomeLevelSelection-grid-item-4 {
  grid-area: level-4; }
  @media only screen and (min-width: 768px) {
    #HomeLevelSelection-grid-item-4 {
      justify-self: start;
      align-self: start; } }

.LevelItem {
  height: 17rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff; }
  @media only screen and (min-width: 768px) {
    .LevelItem {
      height: 25rem;
      width: 25rem; } }

.HomeDescription {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 100%;
  background: linear-gradient(#E5E5E5, #acacac); }
  .HomeDescription img {
    height: 10rem;
    width: auto;
    overflow: hidden; }
    @media only screen and (min-width: 768px) {
      .HomeDescription img {
        height: 30rem;
        width: auto; } }
  .HomeDescription p {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .HomeDescription p {
        font-size: 40pt; } }

.HomeFooter {
  display: grid;
  display: -ms-grid;
  grid-row-gap: 2rem;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-areas: "title" "button" "details";
  background-color: #acacac; }
  .HomeFooter > div {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .HomeFooter {
      grid-template-rows: 2fr 3fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "title title title button button button" "details details details details details details"; } }

#HomeFooter-grid-item-1 {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center; }

#HomeFooter-grid-item-2 {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center; }

#HomeFooter-grid-item-3 {
  grid-area: details;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.FooterItem {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .FooterItem ul {
    list-style-type: none;
    padding: 0; }
