:root {
  font-size: 62.5%; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; }

body {
  position: relative;
  font-size: 1.6rem;
  font-family: 'Fira Sans', 'sans serif'; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

#root {
  min-height: 100vh;
  background: #643232; }

.Button {
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.Home {
  min-height: 100vh; }

.HomeHeader {
  height: 100vh; }

.HomeIntroduction {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "image header" "image button"; }
  .HomeIntroduction img {
    height: 20rem;
    width: auto; }
  .HomeIntroduction h1 {
    font-size: 30pt; }

#HomeIntroduction-grid-item-1 {
  grid-area: header;
  align-self: end;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; }

#HomeIntroduction-grid-item-2 {
  grid-area: image;
  justify-self: end;
  align-self: center; }

#HomeIntroduction-grid-item-3 {
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
